*, *::before, *::after {
    margin: 0;
    padding: 0;
}
  
.container {
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: .5em;
    background-color: antiquewhite;
}
.container .container-img-user-role {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}



.container .container-img-user-role .left-profile-img-container {
    width: 100%;
    height: auto;
    
}
.left-profile-img {
    position: absolute;
    font-size: 600%;
    left: 4.1%;
    top: 5.8%;
    color: #E73636;
}

.left-circle-img{
    margin-left: 8%;
    width: 80%;
    height: auto;
    color: #001F22;
}

.container .container-left-img-user-role .left-role {
    font-weight: bolder;
}

.container .nav-container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container .nav-container .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-align: center;
    font-size: 85%;
    width: 100%;
}

.container .nav-container .nav-list .nav-list-item {
    padding: 0.5em 0.5em;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.dropdown-content .nav-list .nav-list-item:hover {background-color: rgb(223, 106, 106); width: 85%;}



.nav_container .nav-list-item-logout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em ;
    user-select: none;
    cursor: pointer;
}

.dropdown{
    width: 100%;
}

.dropbtn {
    background-color: rgb(223, 106, 106);
    color: white;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 15%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

